@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http

@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

@if (bdotPrice == null)
{
    <p>No info available</p>
}
else
{
    <p>@bdotPrice.Symbol: @bdotPrice.Price</p>
}

@code {
    private BinanceSymbolTickerPrice? bdotPrice;

    protected override async Task OnInitializedAsync() => 
        bdotPrice = await Http.GetFromJsonAsync<BinanceSymbolTickerPrice>("https://api.binance.com/api/v3/ticker/price?symbol=BDOTDOT");
}